<div class="user-question answerbox">
  <h3> <%= @question.capitalize %>: </h3>
  <p> -you </p>
</div>

<br>

<div class="coach-answer answerbox">
  <h4> <%= @answer %> </h4>
  <p> -your coach</p>
</div>
<br>

<%= link_to "Ask another question", ask_path %>
