<form action="answer" id="ask-input">
  <input type="text" name="question" placeholder="Asks yo question to the coach" class="question-bar">
  <input type="submit" class="ask-btn" value="Ask!">
</form>
